@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400;500&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* html.body {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
} */

body {
  position:relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

html {
  height: 100%;
}

main, section {
  flex-grow: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
}
